<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %> </p>
<% end %>
<%= form_for(:msg) do |f| %>

<div class="field">
  <%= f.label :Subject %>
  <%= f.text_field :subject %>
</div>

<% if @users.present? %>
<%= f.select 'user_id', options_for_select(@users.collect{ |u| [u.username, u.id] if u.presence }) %>
<% end %>

<div class="field">
  <%= f.label :Content %><br>
  <%= f.text_area :body %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
