<%= link_to "New chat", { controller: "messages" , action: 'new'}%>
<br/>

<%= render 'mypages/logout' %>
<br/>

<h1>My messages</h1>

<% if @messages.presence %>
<% @messages.each do |message|  %>

  <h4><b size="5">Subject: </b>  <%= message.subject %>   </h4>

  <div><%= message.body %></div>
  <hr>
<% end %>

<% end %>
