<h1>Log in</h1>
<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %> </p>
<% end %>


<%= form_for(:session, :url => login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>
  <%= f.submit "Log in" %>
<% end %>
